.show {
  padding-top: 10px;
  margin-bottom: 100px;
}

.redirect-left {
  text-align: left;
}

.picture-recipe {
  padding-top: 50px;
}

.container {
margin-top: 50px;
margin-bottom: 100px;
}

.share {
  font-size: 12px;
  margin-top: 10px;
}
