.recipe-main-content{
  height: 80vh;
  flex: 0 0 500px;
  position: sticky !important;
  top: 70px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.picture-recipe {
  height: 100vh;
  width: 100vh;
  margin-left: 60px;
  margin-right: 0px;
  position:relative;
}


.containerrr{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


.kardo.hoverkard {
    // position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #F4F4F4;
    height: 73vh;
}

.sharetobestick{
  position:absolute;
  top:100%;
  left:40%;
}
.recipe-info-and-review-container{
  width: 90%;
  margin: auto;
  padding: 2%;
  position:relative
}

.kardo {
    padding-top: 20px;
    padding-right:0px;
    padding-left:0px;
    background-color: white;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    margin-right: 10px;
}



.recipe-info-content{
  margin-top: 20px !important;
}
.cardoue{
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 50px;
  border-radius: 3px;


}



.ingredient-container{
  width : 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  .test-in {
    flex: 1 1 100%;
    max-width: 150px;
  }
}
.card-ingredients {
  height: 200px;
  margin: 5px;
  padding: 5px;
}

.card-ingredients h2 {
  font-size: 10px;
}


.dose-container{ padding-top:4px;
  background-color: #EBFFFA;
  padding-left:4px;
  padding-right:4px;
}

.dose-container .dose-description{
  font-size:12px!important;
  line-height:2.4;
}
.dose-description {
}

.picture-ingredient{
  height: 50%;
  width: 100%;
  margin: auto;
  border:solid #EBFFFA 3px;
}

.ingredient-name p {
  margin: 0 0px -5px;
    font-weight:bold;
    font-size:10px;

}

.review-title{
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}

.review-description{
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  line-height: 1.1;
  color: black;
  word-wrap: break-word;
  width: 200px;
  text-justify:center;
  margin: auto;
}

.recipe-description {
  margin-bottom: 40px;

}


.container-fluid.containerdescription  {
  padding:50px;

}
.recipe-description p {
  font-size: 13px;
  line-height:2.4;
  padding-left:36px;
  padding-right:36px;
}

.containerreview{
  width: 250px;

}

.card-block{
  width: 250px;
}

.cardreview {
  height: 400px;
  width: 250px;
  background-size: cover !important;
  background-position: center;
  color: white;
  margin:3px;
  &:hover{
    opacity: 0.8;
    text-decoration: none;
    text-align: center;
    text-justify:center;
  }
}


.share-recipe {
  bottom: 0px;
  font-size: 12px;
  margin-top: 10px;
}


.recipe-title  h2{
  color:#434343;
}

.infos {
  margin-bottom: 10px;
  text-align: left;
  margin-left: 19px;
}

.select-nbr {
  /* text-align: left; */
  margin-top: 50px;
  margin-bottom: 15px;
  color:#434343;
}


.flexi{
  display:flex;
  justify-content: center;
  align-items:center;


.fa .fa-clock-o b {
  color:#434343;
}

}

.flexi2{
display:flex;
  align-items:center;
  flex-direction:column;
}



// choose persons


hr {
  height: 4px;
  margin-left: 15px;
  margin-bottom:-3px;
}
.hr-warning{
  background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
}
.hr-success{
  background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}
.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}
.hr-danger{
  background:#ee5953;
  margin-right:260px;
  margin-left:260px;
  opacity:0.9;

}

.infos.container5{
   padding-left: 15px;
  padding-right:15px;
}
.infos{
  margin-top:60px!important;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
}
.form-inline.select-nbr{
font-size:20px!important;
font-family: "Raleway", sans-serif !important;
font-weight:bolder;
}

.cooking_time {
  margin-top:70px!important;


}

.breadcrumb{
  padding:0px;
}

.btn-user {

    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    /* touch-action: manipulation; */
    /* cursor: pointer; */
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 2px;
    background:#ee5953;
    border:none;
    &:hover{
      background:#ee5953;
      border:none;
      cursor:none;

    }
}
.breadcrumb {
  background: rgba(245, 245, 245, 0);
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 25px;
  display: block;
}

.btn-bread{
    margin-top:10px;
    font-size: 12px;

    border-radius: 3px;
}
