.show {
  padding-top: 10px;
  margin-bottom: 100px;
}

.redirect-left {
  text-align: left;
}

.picture-recipe {
  padding-top: 50px;
}

.container {
  margin-top: 50px;
  margin-bottom: 100px;
}

.center {
  display:center;
}

.review-title{
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}

.review-description{
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  line-height: 1.1;
  color: black;
  word-wrap: break-word;
  width: 200px;
  text-justify:center;
  margin: auto;
}


.containerreview{
  width: 250px;

}

.card-block{
  width: 250px;
}

.cardreview {
  height: 400px;
  width: 250px;
  background-size: cover !important;
  background-position: center;
  color: white;
  margin:3px;
  &:hover{
    opacity: 0.8;
    text-decoration: none;
    text-align: center;
    text-justify:center;

  }
}

.description-recipe{

  margin-bottom :30px;

}
.share {
  font-size: 12px;
  margin-top: 10px;
}

.stick {
position: sticky !important; /* !important to override Gmaps inline CSS */
top: 0 !important;
height: 90vh;
}

.recipe-title h3 {
  font-size: 23px;
}

.infos {
  margin-top: 1cm;
}
