
<h1 class="text-center">All our recipes:</h1>

<div class="container">

  <div class="row">
    <% if @recipes.blank? %>
      <h4>There are no recipes containing the term <%= params[:search] %>.</h4>
    <% end %>
    <% @recipes.each do |recipe| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= if recipe.picture.url == nil
        image_path('https://placeholdit.co//i/500x500?')
      else
        cl_image_path recipe.picture.url
      end
      %>')">
      <h2><%= link_to recipe.name, recipe_path(recipe), class:"btn btn-danger" %></h2>
      <div class="card-description">
        <%= recipe.cooking_time %>
      </div>
    </div>
  </div>
  <%end%>
</div>
</div>





