.grid-profile {
  height: auto;
  display: grid;
  grid-template-column: 2fr, 1fr, 1fr, 1fr;
  grid-template-rows: 50% 50%;
}

.main-section{
margin-right: 30px;
margin-left: 40px;

}

.stats-section{
  grid-row: 1 / span 1;
  grid-column: 2;
}

.description-section{
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
}

.container-profile  {
width:90%;
margin:auto;
display:center;
margin-top: 20px;

}



// <!-- Mobile only -->

.grid-profile-mobile {
  height: auto;
  display: grid;
  grid-template-column: 1fr 1fr 1fr;
  grid-template-rows: 40% 30% 30%;
}

.main-section-mobile{
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

.stats-section-mobile{
  grid-row: 2 / span 1;
  grid-column: 1;
}

.description-section-mobile{
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
}

.card-content {

  padding: 30px;
  padding-top:90px
}


.stick
{position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  height: 90vh;

}
