

.containerr  {
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 30px;

}


.favorite-section {
  margin-top: 40px;
  text-align:center;
  display:flex;
  flex-direction:column;



}

.pinned-item {
  position:absolute;
 right: 10px;
 top:10px;
}


a.pinned-item.colorblue {
  padding:10px;
  font-size:13px;
  color:white;
  &:hover{
    opacity: 0.8;
    text-decoration: none;
    text-align: center;
    text-justify:center;
  }
}

.recipe-info-and-review-container{
 position: relative;
}

.fa-pencil-square-o{
  color:#222222;
}
.addon2 {

    color: #000000;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    border:none;
}

#review_content.form-control{

    border: none !important;
    height:110%;
}

#review_rating.form-control {
  border: none !important;
  height:110%;
}


.fa-star-half-o{
  color:#FFAF00;
}
.photoreview {
  margin-top: 8px;
}


.card-gif {
  flex: 1 1 0;

}


.btn-goback{
  margin:0;
  padding:5px;
  font-size:15px;
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e96443, #904e95); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e96443, #904e95);
  border-radius:5px;
  font-family: "Work Sans", sans-serif;

}

.link-box-profile {
  margin-bottom: 30px;
  text-align: center;
  position:absolute;
  bottom:-6px;
  left:0;
  width:100%;
  text-align:center;
  transform:translateY(-50%); /* doesn't work in IE9 and older I'm affraid */
  margin:0;
}



.link-box {
  margin-bottom: 40px;
  text-align: center;
  position:absolute;
  bottom:6px;
  left:0;
  width:100%;
  text-align:center;
  transform:translateY(-50%); /* doesn't work in IE9 and older I'm affraid */
  margin:0;
}


// ---



.kard {
    padding-top: 20px;
    padding-right:0px;
    padding-left:0px;
    background-color: white;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-right: 10px;
}



.kard .kard-heading.image .kard-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16pxkard;
    color: #262626;
}



.kard.people .kard-infoe {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.kard.people .kard-infoe .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.kard.people .kard-infoe .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 8px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.kard.people .kard-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.kard.hoverkard {
    // position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: white;
    height: 73vh;
}

.kard.hoverkard .kardheader{
    background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e96443, #904e95); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e96443, #904e95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    height: 135px;
}



.kard.hoverkard .avatare {
    position: relative;
    top: 50px;
    margin-bottom: -50px;
}

.kard.hoverkard .avatare {
    width: 150px;
    height: 150px;
    max-width: 150;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.kard.hoverkard .infoe {
    padding: 4px 8px 10px;
    margin-top:80px;
}

.kard.hoverkard .infoe .title {
    margin-bottom: 4px;
    font-size: 30px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.kard.hoverkard .infoe .desc {
    overflow: hidden;
    font-size: 15px;
    line-height: 25px;
    color: #737373;
    text-overflow: ellipsis;
}

.kard.hoverkard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

 // .btn-round{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }
.btn-round{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }


.btin{ border-radius: 5px; width:32px; height:32px; line-height:18px;  }

.card-gif {
  height: 500px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 50px;
  margin-top: 30px;
  border-radius: 3px;
}


.card-containerbigger{
  padding: 40px;
}

.cardbigger{
    height: 500px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-size: cover !important;
    background-position: center;
    color: white;
    position: relative;
    margin-top: 0px;
    border-radius: 3px;
     }



.stick {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 105px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
