<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/adriensalm/" target="_blank" ><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/adrien.salome.SH" target="_blank" ><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/adriensalome/" target="_blank" ><i class="fa fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <strong>Contact:</strong> martin.parenti@edhec.com
  </div>
</div>
