.card-header {
  height: 100%;
  background-size: cover !important;
}

.card-container{
  background-color: white;
  height: 100%;
  &:hover{
    opacity: 0.8;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #B8B8B8 ;
    transition-duration: 0.4s;

  }
}


.card-description h2 {
  font-size: 15px;
}
.card-description p {
  font-size: 11px;
  opacity: 0.9;
  color:#18587A;
  font-weight: lighter;
  margin: 0 0 15px;
  color:#FC624D;
}

.card-description .fa-star {
  color:#FFAF00;

}


.card-description  .fa-star-o {
  color:#FFAF00;
  opacity:0.8;

}

.card {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 50px;
  margin-top: 30px;
  border-radius: 3px;


}



.row#recipes {
  padding-top :80px;
  padding:60px;
}
.card h1{
  position:absolute;
  top:50%;
  left:0;
  color:lightgrey;
  width:100%;
  text-align:center;
  transform:translateY(-50%); /* doesn't work in IE9 and older I'm affraid */
  margin:0;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
  transition-duration: 0.4s;

}


.link-box .fa-heart-o { color: #FC624D;
  font-size: 16px;
}

.link-box .fa-heart { color: #FC624D;
    font-size: 17px;
}







h2{
  font-size: 34px;
}

h3 {
  font-size: 20px;
}


h4 {
  font-size: 15px;
}




a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
  }
}

p {
  font-size: 16px;
  letter-spacing: 0.4px;
}

.link-box a {
  font-size: 14px;
      word-wrap: break-word;
      color:#18587A;
  &:hover{ color: #FC624D;
    transition-duration: 0.4s;


  }
}


h1,h2 {
  font-family: "Raleway", sans-serif !important;
  font-weight: 500;
}


h3,h4 {
  font-family: 'Roboto', sans-serif !important;


}

#marketing_promise h3{
  font-weight:lighter !important;
}
