
.row-sm-offset-3 {
  margin-left: 15%;
  font-family: $headers-font;
}

.omb_btn-facebook {
  background: #3b5998;
}


.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}


.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

p {
  font-size: 10px;
}

.ecriture a {
  color: white;
}


.ekriture a {
  color: #3e8cc5;
}

.ekriture a:hover {
  text-decoration: underline;
}


.ekkriture a {
  color: #3e8cc5;
  font-size: 15px;
}

.ekkriture a:hover {
  text-decoration: underline;
}

