
//.row-sm-offset-3 {
  //margin-left: 15%;
 //font-family: $body-font;
//}

.container_devise {
  margin-top: 80px;
 margin-bottom: 180px;
}


.container_sign_up{


  margin-top: 150px;
 margin-bottom: 210px;

}

.omb_btn-facebook {
  background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4851B2, #167EFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4851B2, #167EFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 4px 5px;
  border:none;
      vertical-align: middle !important;
      &:hover{
    opacity: 0.8;
    text-decoration: none;
    text-align: center;
    text-justify:center;
  }

}



.btn-block {
    display: block;
    width: 100%;
    // padding-left: 0;
    // padding-right: 0;
}


.btn-special {
    padding: 13px 5px;}


.btn-lg {

    // padding: 5px 16px;
    border-radius: 27px;
        font-size: 14px;
}


.colorblue{
  background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #00c6ff, #05B1FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #00c6ff, #05B1FF);
&:hover{
    opacity: 0.8;
    text-decoration: none;
    text-align: center;
    text-justify:center;
  } /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  border:none; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.violet{
background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #00c6ff, #05B1FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #00c6ff, #05B1FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border:none;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
&:hover{
    opacity: 0.8;
    text-decoration: none;
    text-align: center;
    text-justify:center;
  }
}
p {
  font-size: 10px;
}

.ecriture a {
  color: white;
    font-size: 14px;
    white-space:normal !important;
    word-wrap: break-word;


}

.row_login {
  margin-top: 80px;
    margin-bottom: 80px;

}

.ekriture a {
  color: #3e8cc5;
}

.ekriture a:hover {
  text-decoration: underline;
}


.ekkriture a {
  color: #3e8cc5;
  font-size: 13px;
}

.ekkriture a:hover {
  text-decoration: underline;
}

