
.message-box {
display: flex;
  padding-top:10px;
  padding-bottom: 5px;
  padding-left:3px;
  justify-content: space-around;
  font-size: 15px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  align-items: center;

}

.message{
  width: auto;
  background: white;
  margin-bottom: 20px;
  flex-grow: 1;
}

.adapt{
  padding-bottom:20px;
}

.thumbnail {
    width: 100px;
    display: table;
    margin-right:0px;
    padding-bottom:15px;
    padding-top:15px;
}

.imge .thumbnail  {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    margin:0;
}

.user-info{
  background: white;
  padding:0px ;
}


.user-box{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  text-align:center;
}




.grey .fa-star {
  color: #FFAF00;
}


.grey .fa-star-o{
  color: #FFAF00;

}
.flex {

  padding-left:80px;



}


.accepted {
  color: green;
}


.declined {
  color: red;
}


.tabs {
  display: flex;
  text-align: center;
  margin:0;
}/* Your tabs CSS code here */

.tab{
  padding: 15px;
  text-decoration: none;
  opacity: 0.3;
  font-weight: bold;
  font-size: 20px;
  color: black;
}


.tab.active {
  opacity: 1;
  border-bottom: 5px solid #00AE99;
}


.message.crop{
    width: 200px;
    height: 150px;
    overflow: hidden;
}


.card-reviews {
  height: 500px;
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  border-radius: 3px;
}


.patate {
  word-wrap: break-word;
  font-size:15px;
  text-align :left;
}


